api/auth/
api/auth/principal.middleware.go
api/auth/jwt.helper.go
api/cmd/
api/cmd/main.go
api/registration/
api/registration/login.handler.go
api/registration/social_login.handler.go
api/registration/register.handler.go
api/registration/social_register.handler.go
api/registration/reset.handler.go
api/registration/helper.go
api/registration/adapter.go
cmd/
cmd/main.go
config/
config/config.dev.json
config/config.local.json
config/config.prod.json
config/config.test.json
config/config.go
db/
db/handlers
db/models
db/tests
db/db.go
db/service.go
locales/
locales/en.json
locales/fr.json
public
vendor
Makefile